<div class="invest-pending-view-container" *ngIf="this.investPending">
    <div class="container-1">
        <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false"
                class="pending-loan-container">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <p class="panel-title">Submitted invest to <span
                                class="bold-text">{{ this.debtUsername }}</span></p>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-card class="text-card-invest">
                    <p class="p-in-card">Target amount: {{ this.investAmount | currency: 'USD' }}</p>
                </mat-card>
                <mat-card class="text-card-invest">
                    <p class="p-in-card">Target period: {{ this.investPeriod | zero: 'Month'}}</p>
                </mat-card>
                <mat-card class="text-card-invest">
                    <p class="p-in-card">Partial Investment: {{ this.investPartial | yesNo }}</p>
                </mat-card>
                <p></p>
                <button mat-button (click)="this.cancelInvestment()">Cancel investment</button>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>