<div class="investor-container">
    <mat-tab-group>
        <mat-tab label="All Current Investments">

            <h2 *ngIf="!this.investments.length" class="empty-array">Currently no investments!</h2>

            <div class="all-current-investments">
                <app-investor-details-view class="investor-details-view" *ngFor="let investment of this.investments"
                    [investment]="investment">
                </app-investor-details-view>
            </div>

        </mat-tab>
        <mat-tab label="Pending Investments">

            <h2 *ngIf="!this.investPending.length" class="empty-array">Currently no pending investments!</h2>

            <div class="all-invest-pending-list">
                <app-invest-pending-view class="pending-invest-view" *ngFor="let investPending of this.investPending"
                    [investPending]="investPending" (cancelInvest)="this.cancelInvestment($event)">
                </app-invest-pending-view>
            </div>

        </mat-tab>
        <mat-tab label="Active Loans">

            <h2 *ngIf="!this.debts.length" class="empty-array">Currently no active loans!</h2>

            <div class="active-loans">
                <app-dept-view class="debt-view" *ngFor="let debt of this.debts" [debt]="debt"
                    (sendDebt)="this.createInvest($event)">
                </app-dept-view>
            </div>

        </mat-tab>
    </mat-tab-group>
</div>