.all-invest-pending-list {
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.pending-invest-view {
  margin: 1% 1%;
  width: 390px;
}

.empty-array {
  text-align: center;
}

.investor-details-view {
  margin: 1% 1%;
  width: 390px;
}

.debt-view {
  margin: 1% 1%;
  width: 390px;
}

::ng-deep .mat-tab-labels {
  justify-content: center;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  width: 100%;
}

.active-loans {
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.all-current-investments {
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #8bd58b;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .all-current-investments {
    justify-content: center;
    align-items: center;
  }

  .active-loans {
    justify-content: center;
    align-items: center;
  }

  .all-invest-pending-list {
    justify-content: center;
    align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .all-current-investments {
    justify-content: unset;
    align-items: unset;
  }

  .active-loans {
    justify-content: unset;
    align-items: unset;
  }

  .all-invest-pending-list {
    justify-content: unset;
    align-items: unset;
  }
}
