<div class="debt-view-container" *ngIf="this.debt">
    <mat-card class="debt-card">
        <mat-card-title>
            <span class="bold-text">{{ debt.user.username }}</span> looking for a loan!
        </mat-card-title>
        <mat-card-content>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Target amount: {{remainingAmount | currency: 'USD'}}</p>
            </mat-card>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Target period: {{debt.period | zero: 'Month'}}</p>
            </mat-card>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Partial Investment: {{debt.isPartial | yesNo}}</p>
            </mat-card>
        </mat-card-content>
        <button mat-button (click)="this.sendDebtId()" class="button">Invest Request</button>
    </mat-card>
</div>