<mat-card class="investment-card">

    <mat-card-content>

        <mat-card class="text-card-invest">
            <p class="p-in-card">Investor name: {{invesmentOnDebt.user.username}}</p>
        </mat-card>

        <mat-card class="text-card-invest">
            <p class="p-in-card">Amount: {{invesmentOnDebt.amount | currency:'USD'}}</p>
        </mat-card>

        <mat-card class="text-card-invest">
            <p class="p-in-card">Period: {{invesmentOnDebt.period | zero: 'Month'}}</p>
        </mat-card>

        <mat-card class="text-card-invest">
            <p class="p-in-card">Annual Interest Rate: {{invesmentOnDebt.interest / 100 | percent: '1.2-2'}}</p>
        </mat-card>

        <mat-card class="text-card-invest">
            <p class="p-in-card">Penalty Annual Interest Rate: {{invesmentOnDebt.penaltyInterest / 100 | percent: '1.2-2'}}
            </p>
        </mat-card>

        <mat-card class="text-card-invest">
            <p class="p-in-card">Over All Amount to Refund:
                {{invesmentOnDebt.amount * (1 + (((invesmentOnDebt.interest / 100) / 12) * invesmentOnDebt.period)) | currency: 'USD'}}
            </p>
        </mat-card>

    </mat-card-content>
    <div class="buttons">

        <button mat-button (click)="onClickSencRejectInvestment()">Decline</button>
        <button mat-button (click)="onClickSendAcceptInvestment()">Accept</button>

    </div>

</mat-card>