<mat-tab-group class="new-debt-form" mat-align-tabs="center">

    <mat-tab label="Deposit money">

        <br /><br />

        <div class="form-container">
            <form [formGroup]="createDeposit">

                <mat-form-field class="input-field">
                    <input formControlName="deposit" matInput type="number" placeholder="Enter amount here"
                        class="input-field">
                    <mat-error *ngIf="createDeposit.controls['deposit'].errors?.min">
                        Amount should be 1 or more!
                    </mat-error>

                </mat-form-field>

                <br /><br />
                <div class="button-container">
                    <button mat-button (click)="onClickCloseModal()">Close</button>

                    <button mat-button [disabled]="!createDeposit.valid" [mat-dialog-close]="createDeposit">Create
                        deposit</button>
                </div>

            </form>
        </div>
    </mat-tab>
</mat-tab-group>