<div class="investor-details-container" *ngIf="this.investment">
    <mat-card class="investor-details-card">
        <mat-card-content>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Borrower name: {{ this.investment.debt.user.username }}</p>
            </mat-card>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Money left to be paid: {{ this.amountLeft | currency: 'USD'}}</p>
            </mat-card>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Instalments remaining: {{ this.instalmentsLeft}}</p>
            </mat-card>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Annual interest rate: {{investment.interest / 100 | percent: '1.2-2'}}</p>
            </mat-card>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Next Due Date: {{this.nextDueDate | date: 'longDate'}}</p>
            </mat-card>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Monthly Instalment Amount: {{nextInstalment | currency: 'USD'}}</p>
            </mat-card>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Overdue instalments: {{overDue}}</p>
            </mat-card>
            <mat-card class="text-card-invest">
                <p class="p-in-card">Penalty amount: {{totalPenaltyAmount | currency: 'USD'}}</p>
            </mat-card>
        </mat-card-content>
    </mat-card>
</div>