<div class="agree-modal-container">
    <h2>{{textToShow}}</h2>
    <div class="buttons">
        <button mat-button (click)="cancel()">No</button>
        <button mat-button (click)="agree()">Yes</button>
    </div>
</div>