<div class="home-container" *ngIf="!loggedIn">
    <div class="center-container">
        <div class="logo-container">
            <img src="./../../../../assets/P2P.png" class="p2p-logo">
        </div>
        <div class="inner-container">
            <img src="./../../../../assets/home-logo.png" class="full-logo">
            <div class="home-components" *ngIf="!loggedIn">
                <mat-tab-group>
                    <mat-tab label="Login" class="login-form">
                        <app-login></app-login>
                    </mat-tab>
                    <mat-tab label="Register" class="register-form">
                        <app-register></app-register>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>
</div>
