.home-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .23);
  background-color: white;
}

.header {
  text-align: center;
  font-size: 70px;
  color: #E5FCC2;
}

.white {
  text-decoration-line: none;
}

.mat-card {
  background: none;
  color: none;
}

.mat-card:not([class*=mat-elevation-z]) {
  box-shadow: none;
}

.full-logo {
  width: 600px;
  height: 300px;
}

.inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 30px;
}

.login-form-container {
  display: flex;
  flex-direction: row;
}

.p2p-logo {
  width: 400px;
}

.logo-container {
  padding-top: 10px;
  text-align: center;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #8bd58b;
}

@media only screen and (max-width: 769px) {
  .inner-container {
    flex-direction: column;
  }
}


@media only screen and (max-width: 600px) {
  .full-logo {
    width: 300px;
    height: 150px;
  }

  .inner-container {
    flex-direction: column;
    justify-content: center;
    padding-top: 35px;
  }

  .p2p-logo {
    width: 90%;
  }

  .center-container {
    height: 95%;
  }

  .logo-container {
    padding-top: 20px;
  }

  .home-components {
    padding-top: 60px;
  }

  ::ng-deep .mat-tab-labels {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
