.login-form {
  width: 100%;
  max-width: 400px;
}

.form-container {
  text-align: center;
  padding: 20px;
}

.mat-raised-button {
  background-color: #45ADA8;
}

.mat-error {
  color: red;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #8bd58b;
}
