<mat-tab-group class="login-form" mat-align-tabs="center" headerPosition="below">
    <mat-tab>
        <div class="form-container">
            <form [formGroup]="loginForm">

                <mat-form-field>
                    <mat-label>Username</mat-label>
                    <input formControlName="username" matInput type="text" placeholder="Enter username here">
                    <mat-error *ngIf="loginForm.controls['username'].errors?.minlength">
                        Username should be between 3 and 16 characters.
                    </mat-error>
                </mat-form-field>
                <br /><br />
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput type="password" placeholder="******">
                    <mat-error *ngIf="loginForm.controls['password'].errors?.minlength">
                        Password should be between 5 and 16 characters.
                    </mat-error>
                </mat-form-field>
                <br /><br />
                <button mat-raised-button (click)="login()" [disabled]="!loginForm.valid">Log
                    In</button>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>