<mat-tab-group class="update-loan-form" mat-align-tabs="center">

    <mat-tab label="Loan Update">

        <br /><br />

        <div class="form-container">
            <form [formGroup]="updateLoan">

                <mat-form-field class="input-field">
                    <mat-label>Amount</mat-label>
                    <input formControlName="amount" matInput type="number" placeholder="Enter amount here"
                        class="input-field">
                    <mat-error *ngIf="updateLoan?.controls['amount'].errors?.min">
                        You can't update amount under {{minAmountForUpdate}}$!
                    </mat-error>
                </mat-form-field>

                <br /><br />

                <div class="buttons">
                    <button mat-button (click)="onClickCloseModal()">No Thanks</button>

                    <button mat-button [disabled]="!updateLoan.valid" [mat-dialog-close]="updateLoan">Update
                        Loan</button>
                </div>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>