.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.input-field {
  width: 100%;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

