<div class="header-container">
    <mat-toolbar class="toolbar-component">
        <img src="./../../../../assets/P2P.png" class="full-logo">
        <img src="./../../../../assets/logo-crop.png" class="crop-logo">
        <div class="buttons">
            <button class="btn" mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard
            </button>
            <button class="btn" mat-button routerLink="/borrower" routerLinkActive="active">Borrower
            </button>
            <button class="btn" mat-button routerLink="/investor" routerLinkActive="active">Investor
            </button>
        </div>
    </mat-toolbar>
</div>