.header-container {
  height: 100%;
}

.mat-toolbar-single-row {
  background-color: #041121;
  height: 100%;
}

.buttons {
  margin-left: 10px;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.btn {
  margin: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #61a861;
}

.btn:hover {
  background-color: #61a861;
  color: #041121;
}

.active {
  border-radius: 3px;
  background-color: #61a861;
  color: #041121;
}

.full-logo {
  width: 200px;
}

.crop-logo {
  display: none;
  height: 60px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .full-logo {
    display: none;
  }

  .crop-logo {
    margin-left: 10px;
    display: block;
  }

  .mat-toolbar-single-row {
    padding: 0;
  }

  .btn {
    width: 100%;
    margin: 5px;
    padding: 0 8px;
  }
}
