<div class="dashboard-container">

    <div class="balance-container">

        <div class="buttons">
            <button mat-button class="btn-deposit" (click)=this.openDialogDeposit()>
                <p class="button-text">Deposit</p>
            </button>
        </div>

        <p class="s-balance">Balance:&nbsp; <span class="p-balance">{{loggedUserInfo.balance | currency:'USD'}}</span>
        </p>

        <div class="buttons">
            <button mat-button class="btn-withdraw" (click)=this.openDialogWithdraw()>
                <p class="button-text">Withdraw</p>
            </button>
        </div>
    </div>

    <div class="main-container">

        <mat-card class="total-card">

            <mat-card-title>Current Investments</mat-card-title>

            <mat-card-content>
                <mat-card class="text-card-invest">
                    <p class="p-in-card">Period of Investments:
                        {{userAsInvestor.totalPeriodInvestments | zero: 'Month'}}</p>
                </mat-card>
                <mat-card class="text-card-invest">
                    <p class="p-in-card">Number of Borrowers: {{userAsInvestor.borrowers | zero: 'User'}}</p>
                </mat-card>
                <mat-card class="text-card-invest">
                    <p class="p-in-card">Next Due Date:
                        {{userAsInvestor.nextDueDateToGetMoney | date: 'longDate' | zero: 'date'}} </p>
                </mat-card>
                <mat-card class="text-card-invest">
                    <p class="p-in-card">Amount: {{userAsInvestor.moneyToGet | currency: 'USD' | zero: 'amount'}}</p>
                </mat-card>
            </mat-card-content>

        </mat-card>

        <mat-card class="total-card">

            <mat-card-title>Current Debts</mat-card-title>

            <mat-card-content>
                <mat-card class="text-card-loan">
                    <p class="p-in-card">Period for All Debts: {{userAsBorrower.totalPeriodDebts | zero: 'Month'}}</p>
                </mat-card>

                <mat-card class="text-card-loan">
                    <p class="p-in-card">Number of Investors: {{userAsBorrower.investors | zero: 'User'}}</p>
                </mat-card>

                <mat-card class="text-card-loan">
                    <p class="p-in-card">Next Due Date:
                        {{userAsBorrower.nextDueDateToPaid | date: 'longDate' | zero: 'date'}}</p>
                </mat-card>

                <mat-card class="text-card-loan">
                    <p class="p-in-card">Amount: {{userAsBorrower.moneyPaid | currency: 'USD' | zero: 'amount'}}</p>
                </mat-card>
            </mat-card-content>

        </mat-card>
    </div>
</div>