.dashboard-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.balance-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.s-balance {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}

.p-balance {
  font-weight: bold;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.btn-deposit {
  background-color: #8bd58b;
  color: black;
  width: 150px;
  height: 45px;
  margin: 0 5px;
  border-radius: 2rem;
}

.btn-withdraw {
  background-color: #9BDACB;
  color: black;
  width: 150px;
  height: 45px;
  margin: 0 5px;
  border-radius: 2rem;
}

.button-text {
  font-size: 21px;
  margin: 0px;
}

.main-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.total-card {
  width: 350px;
  margin: 3%;
}

.mat-card-title {
  text-align: center;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .s-balance {
    justify-content: center;
    font-size: 16px;
  }

  .button-text {
    font-size: 15px;
    line-height: 0;
  }

  .btn-deposit {
    margin: 0;
    width: 85px;
    height: 25px;
  }

  .btn-withdraw {
    margin: 0;
    width: 85px;
    height: 25px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .button-text {
    line-height: 0;
  }

  .btn-withdraw {
    margin: 0;
    width: 110px;
    height: 35px;
  }

  .btn-deposit {
    margin: 0;
    width: 110px;
    height: 35px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .btn-withdraw {
    width: 150px;
    height: 45px;
    margin: 0 5px;
  }

  .btn-deposit {
    width: 150px;
    height: 45px;
    margin: 0 5px;
  }
}
