.debt-card {
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .23);
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.fix-height {
  height: 50.2px;
  background-color: #9BDACB;
  margin: 3px 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

::ng-deep .mat-badge-small.mat-badge-overlap.mat-badge-after .mat-badge-content {
  background-color: red;
  right: -6px;
  top: -6px;
}
