<div class="debt-view-container">

    <mat-card class="debt-card">

        <div class="buttons">

            <button mat-icon-button (click)="onClickViewDebtInvestment()"><i class="material-icons"
                    [matBadge]="this.investments"  matBadgeSize="small" [matBadgeHidden]="!this.investments">
                    info
                </i></button>

            <button mat-icon-button (click)="onClickUpdateDebt()"><i class="material-icons">
                    edit
                </i></button>

            <button mat-icon-button (click)="onClickCancelDebt()"><i class="material-icons">
                    cancel
                </i></button>
        </div>

        <mat-card-content>
            <mat-card class="text-card-loan">
                <p class="p-in-card">Submitted on: {{debt.createdOn | date: 'longDate'}}</p>
            </mat-card>
            <mat-card class="text-card-loan" class="fix-height">
                <p class="p-in-card">Target amount: {{debt.amount | currency:'USD':'symbol':'1.2-2'}}</p>
                <p *ngIf="remainingAmount !== debt.amount" class="p-in-card"> (Remaining amount:
                    {{remainingAmount | currency:'USD':'symbol':'1.2-2'}})</p>
            </mat-card>
            <mat-card class="text-card-loan">
                <p class="p-in-card">Target period: {{debt.period | zero: 'Month'}}</p>
            </mat-card>
            <mat-card class="text-card-loan">
                <p class="p-in-card">Partial Investment: {{debt.isPartial | yesNo}}</p>
            </mat-card>
        </mat-card-content>

    </mat-card>
</div>