<div class="footer-container">
    <div class="contacts">
        <span class="text-container">Contact:</span>
        <span>Georgi Pavlov: gpavlov951@gmail.com</span>
        <span>Georgi Skorchev: gskorchev@gmail.com</span>
    </div>
    <div class="technologies">
        <span class="text-container">Technologies:</span>
        <div class="images">
            <img src="./../../../../assets/angular-logo.svg" alt="">
            <img src="./../../../../assets/nestjs-logo.svg" alt="">
        </div>
    </div>
    <div class="supported">
        <span class="text-container">Supported by:</span>
        <div class="images">
            <img src="./../../../../assets/telerik-academy-logo.png" alt="">
            <img src="./../../../../assets/tick42-logo.png" alt="">
        </div>
    </div>

</div>