.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
    height: 100%;
}

img {
    width: 50px;
}

.contacts {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.technologies {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.supported {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-container {
    font-size: 14px;
    display: flex;
    justify-content: center;
}
