
html,
body {
  height: 100vh;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica", "Arial", sans-serif;
  color: white;
  background-color: #1a2035;
}

.text-card-invest {
  background-color: #8bd58b;
  margin: 5px 0;

}

.text-card-loan {
  background-color: #9BDACB;
  margin: 5px 0;
}

.p-in-card {
  margin: 0px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  color: black;
  padding: 3px;
}

app-footer {
  height: 100%;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #8bd58b;
}
