<div class="loan-view-container">

    <mat-card class="loan-card" [appOverdue]="!!overDueDays">

        <div class="buttons">

            <button mat-button (click)=onClickOpenPayments()><i class="material-icons">
                    info
                </i></button>
            <button mat-button (click)=onClickMakePayment() [disabled]="!canPaid">Make payment</button>
        </div>

        <mat-card-content>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Investor name: {{loan.investment.user.username}}</p>
            </mat-card>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Total amount: {{loan.investment.amount | currency:'USD':'symbol':'1.2-2'}}</p>
            </mat-card>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Total amount to be paid: {{this.totalAmount | currency:'USD':'symbol':'1.2-2'}}
                </p>
            </mat-card>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Money left to be paid: {{this.leftToPaid |  currency:'USD':'symbol':'1.2-2'}}</p>
            </mat-card>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Annual interest rate: {{this.interestRate / 100 | percent: '1.2-2'}}</p>
            </mat-card>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Period: {{this.loan.investment.period | zero: 'Month'}}</p>
            </mat-card>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Next Due Date: {{this.nextDueDate | date: 'longDate'}}</p>
            </mat-card>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Monthly Instalment Amount:
                    {{this.installmentAmount | currency:'USD':'symbol':'1.2-2'}}</p>
            </mat-card>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Over Due Days: {{this.overDueDays | zero: 'Day'}}</p>
            </mat-card>

            <mat-card class="text-card-loan">
                <p class="p-in-card">Penalty amount: {{this.penaltyAmount | currency:'USD':'symbol':'1.2-2'}}</p>
            </mat-card>

        </mat-card-content>
    </mat-card>
</div>