.app-container {
  height: 100vh;
}

.header-container {
  height: 9vh;
}

.user-summary-as-header {
  display: none;
}

mat-drawer {
  box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, .23);
}

.sidebar-container {
  height: 91vh;
  width: 220px;
}

.main-page-container {
  height: 100vh;
  background-color: #dfe8df;
}

.main-page-after-log-in {
  height: 91vh;
  background-color: #dfe8df;
  position: block;
}

.router-container {
  margin-bottom: 0px;
  height: 100%;
}

.router-container-after-log-in {
  margin-bottom: 108.35px;
  height: unset;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  height: 15vh;
  background-color: #041121;
  bottom: 0px;
  left: 220px;
  right: 0px;
  margin-bottom: 0px;
  z-index: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  mat-drawer {
    display: none;
  }

  .user-summary-as-header {
    display: block;
  }

  mat-toolbar {
    height: 15vh;
    padding: 0px;
  }

  app-user-summary {
    height: 100%;
    width: 100%;
  }

  .footer-container {
    display: none;
  }

  .router-container {
    margin-bottom: 0px;
  }


  .main-page-container {
    height: 100vh;
  }

  .main-page-after-log-in {
    height: 76vh;
  }
}
