<div class="app-container">
    <div class="header-container" *ngIf="loggedIn && this.user.role !== 'Admin'">
        <app-header></app-header>
    </div>

    <div class="user-summary-as-header" *ngIf="loggedIn && this.user.role !== 'Admin'">
        <mat-toolbar>
            <app-user-summary [user]="user"></app-user-summary>
        </mat-toolbar>
    </div>

    <mat-drawer-container class="main-container">
        <mat-drawer mode="side" opened class="sidebar-container" *ngIf="loggedIn && this.user.role !== 'Admin'">
            <app-user-summary [user]="user"></app-user-summary>
        </mat-drawer>
        <mat-drawer-content class="main-page-container" [class.main-page-after-log-in]="loggedIn">

            <div class="router-container" [class.router-container-after-log-in]="loggedIn">
                <router-outlet></router-outlet>
            </div>

        </mat-drawer-content>
    </mat-drawer-container>


    <div class="footer-container" *ngIf="loggedIn && this.user.role !== 'Admin'">
        <app-footer></app-footer>
    </div>

    <app-custom-loader></app-custom-loader>

</div>