<div class="debt-info-container">
    <app-invesment-view *ngFor="let investment of this.investmentsOnDebt" [invesmentOnDebt]="investment"
        (investmentIdForAccept)="onClickSendAcceptInvestment($event)"
        (investmentIdForReject)="onClickSendRejectInvestment($event)">
    </app-invesment-view>
</div>