<mat-tab-group class="new-debt-form" mat-align-tabs="center">
    
    <mat-tab label="Withdraw money">

        <br /><br />

        <div class="form-container">
            <form [formGroup]="createWithdraw">

                <mat-form-field class="input-field">
                    <input formControlName="withdraw" matInput type="number" placeholder="Enter amount here"
                        class="input-field">
                    <mat-error *ngIf="createWithdraw.controls['withdraw'].errors?.min">
                        Amount should be 1 or more!
                    </mat-error>
                    <mat-error *ngIf="createWithdraw.controls['withdraw'].errors?.max">
                        Max amount to withdraw is {{ this.loggedUserBalance }}
                    </mat-error>

                </mat-form-field>

                <br /><br />
                <div class="button-container">
                    <button mat-button (click)="onClickCloseModal()">Close</button>

                    <button mat-button [disabled]="!createWithdraw.valid"
                        [mat-dialog-close]="createWithdraw">Withdraw</button>
                </div>

            </form>
        </div>
    </mat-tab>
</mat-tab-group>