<div class="borrower-container">

    <div class="buttons">
        <button mat-raised-button (click)="openDebtRequest()" class="btn">Loan Request</button>
    </div>

    <mat-tab-group>

        <mat-tab label="All Loan Requests (still pending)">

            <h2 *ngIf="!this.debts.length" class="empty-array">Currently no loan requests!</h2>

            <div class="all-debts-list">
                <app-debt-view class="debt-view" *ngFor="let debt of this.debts" [debt]="debt"
                    (debtEmit)="openDebtDataModal($event)" (debtForUpdate)="openDebtUpdateModal($event)"
                    (debtForCancel)="openDebtCancelModal($event)">
                </app-debt-view>
            </div>

        </mat-tab>


        <mat-tab label="All Current Debts">

            <h2 *ngIf="!this.loans.length" class="empty-array">Currently no debts!</h2>

            <div class="all-loans-list">
                <app-loan-view class="loan-view" *ngFor="let loan of this.loans" [userBalance]="userBalance"
                    [loan]="loan" (currentLoan)="openCurrentLoanPayments($event)"
                    (paymentData)="makePaymentOnLoan($event)">
                </app-loan-view>
            </div>

        </mat-tab>
    </mat-tab-group>
</div>