.borrower-container {
  display: flex;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.empty-array {
  text-align: center;
}

.btn {
  background-color: #9BDACB;
}

.all-debts-list {
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.all-loans-list {
  padding: 0 25px;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.debt-view {
  margin: 1% 1%;
  width: 390px;
}

.loan-view {
  margin: 1% 1%;
  width: 390px;
}

::ng-deep .mat-tab-labels {
  justify-content: center;
  background-color: white;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  width: 100%;
}

::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
  background-color: #9BDACB;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .all-debts-list {
    justify-content: center;
    align-items: center;
  }

  .all-loans-list {
    justify-content: center;
    align-items: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .all-debts-list {
    justify-content: unset;
    align-items: unset;
  }

  .all-loans-list {
    justify-content: unset;
    align-items: unset;
  }
}
