<div [class.hidden]="!show">
    <div *ngIf="show" class="background-overlay"> </div>
    <div *ngIf="show" class="loader-overlay">
        <div class="coin">
            <div class="face heads" style="background-size: 150px;background-image: url('./assets/coin_front.png')">
            </div>
            <div class="face tails" style="background-size: 150px;background-image: url('./assets/coin_back.png');">
            </div>
        </div>
    </div>
</div>