@keyframes rotation {
  0% {
    transform: rotate3d(0, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(0, 1, 0, 180deg);
  }
  100% {
    transform: rotate3d(0, 1, 0, 360deg);
  }
}

.hidden {
    visibility: hidden;
}

.background-overlay {
  position: fixed;
  top: 0vh;
  left: 0vh;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5;
}

.loader-overlay {
  position: fixed;
  top: 0vh;
  left: 0vh;
  z-index: 999;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coin {
  position: relative;
  top: 0;
  left: 0;
  width: 150px;
  height: 150px;
  animation-name: rotation;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 1s;
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
}

.heads {
  z-index: 2;
  transform: rotateY(0deg);
}

.tails {
  z-index: 1;
  transform: rotateY(180deg);
}
