<mat-tab-group class="new-debt-form" mat-align-tabs="center">
    <mat-tab label="Invest Requst">
        <br /><br />
        <div class="form-container">
            <form [formGroup]="createInvest">
                <mat-form-field class="input-field">
                    <mat-label>Amount</mat-label>
                    <input formControlName="amount" matInput type="number" required placeholder="Enter amount here"
                        class="input-field">
                    <mat-error *ngIf="createInvest.controls['amount'].errors?.max">
                        Amount should be max {{ this.remainingAmount }}
                    </mat-error>
                    <mat-error *ngIf="createInvest.controls['amount'].errors?.min">
                        Amount should be min 1
                    </mat-error>
                </mat-form-field>
                <br /><br />
                <mat-form-field class="input-field">
                    <mat-label>Interest</mat-label>
                    <input formControlName="interest" matInput type="number" required min="1">
                    <mat-error *ngIf="createInvest.controls['interest'].errors?.min">
                        Amount should be min 1
                    </mat-error>
                </mat-form-field>
                <br /><br />
                <mat-form-field class="input-field">
                    <mat-label>Period</mat-label>
                    <input formControlName="period" matInput type="number" min="1">
                    <mat-error *ngIf="createInvest.controls['period'].errors?.min">
                        Amount should be min 1
                    </mat-error>
                </mat-form-field>
                <br /><br />
                <mat-form-field class="input-field">
                    <mat-label>Penalty Interest</mat-label>
                    <input formControlName="penaltyInterest" matInput type="number" min="1">
                    <mat-error *ngIf="createInvest.controls['penaltyInterest'].errors?.min">
                        Amount should be min 1
                    </mat-error>
                </mat-form-field>
                <br /><br />
                <button mat-button (click)="onClickCloseModal()">No Thanks</button>
                <button mat-button [disabled]="!createInvest.valid" [mat-dialog-close]="createInvest">Create
                    Invest</button>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>