.user-summary-container {
  display: flex;
  flex-direction: column;
  height: 90vh;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.user-img:hover {
  opacity: 0.5;
}

.sm-screen-img-username:hover+.img-button {
  display: block;
  position: absolute;
  top: 40px;
}

.img-button:hover {
  display: block;
  position: absolute;
  top: 40px;
}

.img-button:hover+.sm-screen-img-username {
  opacity: 0.5;
  width: 500px;
}

.img-button {
  display: none;
}

.sm-screen-img-username {
  display: flex;
  align-items: center;
  justify-content: center;
}

.username-text {
  width: 100%;
  text-align: center;
}

.username-text-sm {
  display: none;
}

.text {
  width: 100%;
  text-align: center;
  font-size: 14px;
}

.text-bold {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

.list-p {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

mat-divider {
  width: 65%;
  background-color: #24a20bad;
}

img {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  margin: 3px;
}

.fill-space {
  flex: 1 1 auto;
}

.logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.btn {
  background-color: #9BDACB;
  color: black;
  display: flex;
  align-items: center;
}

::ng-deep .mat-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logout-text {
  margin: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .user-summary-container {
    flex-direction: row;
    height: 100%;
    width: 100%;
  }

  .user-info {
    flex-direction: row;
    margin: 0px;
    width: 100%;
  }

  img {
    height: 75px;
    width: 75px;
    margin: 0px;
  }

  .sm-screen-img-username {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 5px;
    height: 100%;
  }

  .sm-screen-img-username:hover+.img-button {
    top: 110px;
    left: 30px;
  }

  .img-button:hover {
    top: 110px;
    left: 30px;
  }

  .list-p {
    /* flex-direction: row; */
    padding: 0px;
    height: 100%;
    flex-wrap: wrap;
  }

  .two-row {
    display: flex;
  }

  mat-divider {
    display: none;
  }

  .username-text {
    display: none;
  }

  .username-text-sm {
    display: block;
  }

  .fill-space {
    display: none;
  }

  p {
    height: 25px;
    font-size: 14px;
    margin: 0px;
  }

  .logout-button {
    display: block;
    margin: 5px 5px 0 0;
    height: 24px;
  }

  .btn {
    min-width: 0px;
    padding: 0px;
  }

  .logout-text {
    display: none;
  }
}
