<div class="user-summary-container">
    <div class="user-info">
        <div class="sm-screen-img-username">
            <img src="{{loggedUserInfo.userProfileImgUrl}}" class="user-img">

            <p class="username-text-sm">Hello, <span class="text-bold">{{user.username}}</span></p>
        </div>

        <div class="img-button" (click)="fileInput.click()">
            <button mat-icon-button>
                <i class="material-icons">add_a_photo</i>
            </button>
            <input hidden #fileInput (change)="editUserImg(fileInput.files[0])" type="file">
        </div>

        <mat-list class="list-p">
            <p class="username-text">Hello, <span class="text-bold">{{user.username}}</span></p>

            <p class="text">Balance: <span class="text-bold">{{loggedUserInfo.balance | currency: 'USD'}}</span></p>
            <mat-divider></mat-divider>

            <div class="two-row">
                <p class="text">Total Debts Amount: </p>
                <p class="text-bold">{{userSummary.totalDebtsAmount | currency: 'USD'}}</p>
            </div>
            <mat-divider></mat-divider>

            <div class="two-row">
                <p class="text">Total Invested Amount:</p>
                <p class="text-bold">{{userSummary.totalInvestedAmount | currency: 'USD'}}</p>
            </div>

            <mat-divider *ngIf="this.userSummary.nextDueDate"></mat-divider>

            <div class="two-row" *ngIf="this.userSummary.nextDueDate">
                <p class="text">Next Due Date: </p>
                <p class="text-bold">{{userSummary.nextDueDate | date: 'longDate'}}</p>
            </div>
        </mat-list>
    </div>

    <span class="fill-space"></span>

    <div class="logout-button">
        <button mat-button (click)="logout()" class="btn">
            <i class="material-icons">exit_to_app</i>
            <p class="logout-text">Log Out</p>
        </button>
    </div>
</div>