.mat-tab-header {
  display: none;
  overflow: hidden;
  position: relative;
  flex-shrink: 0;
}

.form-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.input-field {
  width: 100%;
}

::ng-deep .mat-form-field.mat-focused .mat-form-field-ripple {
  background-color: #8bd58b;
}
