<mat-tab-group class="new-debt-form" mat-align-tabs="center">

    <mat-tab label="Loan Requst">

        <br /><br />

        <div class="form-container">
            <form [formGroup]="createDebt">

                <mat-form-field class="input-field">
                    <mat-label>Amount</mat-label>
                    <input formControlName="amount" matInput type="number" placeholder="Enter amount here"
                        class="input-field">
                    <mat-error *ngIf="createDebt?.controls['amount'].errors?.min">
                        You can't request amount under 100$!
                    </mat-error>
                </mat-form-field>

                <br /><br />

                <mat-form-field class="input-field">
                    <mat-label>Period</mat-label>
                    <input formControlName="period" matInput type="number" placeholder="Enter period here">
                    <mat-error *ngIf="createDebt.controls['period'].errors?.min">
                        You can't request period under 1 Month!
                    </mat-error>
                </mat-form-field>

                <br /><br />

                <mat-checkbox formControlName="isPartial">Want partial investment?</mat-checkbox>

                <br /><br />

                <button mat-button (click)="onClickCloseModal()">No Thanks</button>

                <button mat-button [disabled]="!createDebt.valid" [mat-dialog-close]="createDebt">Create
                    Loan</button>
            </form>
        </div>
    </mat-tab>
</mat-tab-group>