<div class="payments-modal-container">

    <div *ngFor="let payment of loanPayments">
        <mat-card class="payment">

            <mat-card-content>

                <mat-card class="text-card-loan">
                    <p class="p-in-card">Paid on: {{payment.createdOn | date: 'longDate'}}</p>
                </mat-card>

                <mat-card class="text-card-loan">
                    <p class="p-in-card">Amount: {{payment.amount | currency: 'USD'}}</p>
                </mat-card>

                <mat-card class="text-card-loan">
                    <p class="p-in-card">Ovedue: {{payment.overDue | zero: 'Day'}}</p>
                </mat-card>

                <mat-card class="text-card-loan">
                    <p class="p-in-card">Penalty Amount: {{payment.penaltyAmount | currency: 'USD'}}</p>
                </mat-card>

            </mat-card-content>
        </mat-card>
    </div>
</div>